*.user
*.data
*.autosave

data

# various build folders, e.g rpi build folders over network shares
build*
bin

#spdlog
external/spdlog
.gitmodules

#devel scripts
*.sh
doc/notes

#editor backups
*.kate-swp
CMakeLists.txt.user*

#not ready
sphinx
