[Unit]
Description=twitse server
Wants=time-sync.target
After=time-sync.target

[Service]
Type=simple
User=root
WorkingDirectory=<git root>
ExecStart=<git root>/bin/twitse_server
Restart=always

[Install]
WantedBy=multi-user.target
