[Unit]
Description=twitse client
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=<git root>
ExecStart=<git root>/bin/client --id <name>
Restart=on-failure

[Install]
WantedBy=multi-user.target
