[Unit]
Description=twitse server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=<git root>
ExecStart=<git root>/bin/server
Restart=on-failure

[Install]
WantedBy=multi-user.target
